@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "@/app/styles/mixins.scss";

:root {
  --max-width: 1400px;
  
  --background-dark-clr: #000;
  --background-light-clr: #f7f7f7;
  --background-clr: var(--background-light-clr);

  --font-dark-clr: #252525;
  --font-light-clr: #fff;
  --font-clr: var(--font-dark-clr);
}

@include is-dark {
  :root {
    --background-clr: var(--background-dark-clr);
    --font-clr: var(--font-light-clr);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  :not(ymaps) {
    color: var(--font-clr);
  }
}

@include is-light {
  .icon * {
    fill: #000 !important;
  }
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  background-size: 100vw auto !important;
  background-repeat: repeat-y !important;
}

img {
  height: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.container-lg {
  max-width: 1240px;
  width: 100%;

  margin: 0 auto;
  
  padding-left: 10px;
  padding-right: 10px;

  @include desktop {
    max-width: 900px;
  }

  @include tablet {
    max-width: 600px;
  }

  @include mobile {
    max-width: 360px;

    padding-left: 20px;
    padding-right: 20px;
  }
}

.swiper-slide {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}
