:root {
  --max-width: 1400px;
  
  --background-dark-clr: #000;
  --background-light-clr: #f7f7f7;
  --background-clr: var(--background-light-clr);

  --font-dark-clr: #252525;
  --font-light-clr: #fff;
  --font-clr: var(--font-dark-clr);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-clr: var(--background-dark-clr);
    --font-clr: var(--font-light-clr);
  }
}

* {
  box-sizing: border-box;
  color: var(--font-clr);
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;

  background-size: 100vw auto !important;
  background-repeat: repeat-y !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.container-lg {
  max-width: 1440px;
  width: 100%;

  margin: 0 auto;
  
  padding-left: 10px;
  padding-right: 10px;
}
