$blur: 15px;

.header {
  background: rgba(51, 64, 116, 0.35);
  -webkit-backdrop-filter: blur($blur);
  backdrop-filter: blur($blur);

  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;

  column-gap: 13.5px;
}

.link {
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  list-style: none;

  padding: 10px;

  &:hover {
    text-decoration: underline;
    text-decoration-color: #FFE992;
  }
}
