.section {
  margin-bottom: 80px;
}

.subtitle-large {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
  text-align: center;

  margin-bottom: 40px;
}

.subtitle-small {
  font-size: 32px;
  font-weight: 600;
  line-height: 39.01px;
  text-align: center;

  margin-bottom: 20px;
}
