@import "@/app/styles/mixins.scss";

.section {
  margin-bottom: 80px;
}

.subtitle {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.76px;
  text-align: center;

  margin-bottom: 40px;
}

@include mobile {
  .section {
    margin-bottom: 40px;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;

    margin-bottom: 20px;
  }
}
